@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

.intro {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.intro_text{
    width: 669px;
    height: auto;
    padding-right: 50px;
    align-content: center ;
}


#intro_p{
    padding-top: 15px;
    padding-bottom: 40px;
}

#play_button{
    font-size: 12px;
    margin-left: 190px;
    width: 210px;
}

#intro_app{
    width: 30%;
}

#intro_bubbles{
    margin-top: -250px;
    margin-left: 100px;
    width: 250px;
    height: auto;
}

#intro_app{
    width: 300px;
}