/* questions */

.qs{
    display: flex;
    justify-content: center;
}

.text-q{
    padding-top: 120px;
    width: 600px;
}

#bubbles1{
    padding-left: 100px;
    padding-top: 120px;
    width: 300px;
}

#bubbles2{
    padding-right: 100px;
    padding-top: 120px;
    width: 400px;
}

#q-p{
    padding-top: 20px;
}


/* team section  */

#team-text{
    padding-top: 300px;
    padding-bottom: 150px;
}

.team{
    display: flex;
    flex-direction: column;
}

.mate{
    padding: 0 300px 60px 300px;
}

#person{
    width: 260px;
    padding-left: 15px;
    padding-right: 15px;
}

.person-text{
    color: #878787;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.name{
    color: #002295;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
}

.mate-text{
    display:block;
    justify-content: center;
    padding-top: 60px;
}

#left{
    display: flex;
    justify-content: left;
}

#right{
    display: flex;
    justify-content: right;
}


/* cooperation section */
.cooperation{
    padding: 250px 0 300px 0;
}

#coop-p{
   padding-bottom: 50px;
   margin: auto;
   width: 500px;
}

#coop-btn{
    display: flex;
    justify-content: center;
}

.input_form{
    padding-top: 70px;
    padding-bottom: 250px;
}

.boxes{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}


#input{
    border-color: #002295;
    border-width: 1.8px;
    width: 324px;
    height: 62px;

}

#input-ypur-text{
    border-color: #002295;
    border-width: 1.8px;
    width: 324px;
    height: 62px;
}



/* QandA section */

#qatext{
    color: #F2D84F;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 57px;
}

.blue-boxes{
    display: flex;
    justify-content: space-around;
    padding-bottom: 200px;
    padding-right: 150px;
    padding-left: 150px;
}


.box{
    background-image: linear-gradient(#2254CD,#3E8FFF);
    height: 180px;
    width: 373px;
    border-radius: 5px;
    text-align: left;
    padding: 25px;

}

#box-question{
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
}

#box-answer{
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 500;
    text-align: left;
    padding-top: 40px;
}