.footer{
    background-color: #C4C4C4;
    width: 1440px;
    height: 150px;
}

.elements{
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    padding-right: 50px;
}

#f_logo{
    width: 100px;
}

.links{
    display: flex;
    column-gap: 50px;
    font-size: 15px;
    justify-content: left;
}

.first-column{
    display: grid;
}

.second-column{
    display: grid;
}

#f_btn{
    font-size: 10px;
    width: 140px;
    height: 60px;
    align-items: center;
}